@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing:border-box;
  margin:0;
}

#image-container {
  /* stylelint-disable-next-line color-function-notation */
  box-shadow:  0 0 15px 1px rgba(255,255,255,100%); 
  animation-name: pulse;
  animation-duration: 2.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;

}


@keyframes pulse {
  /* stylelint-disable-next-line color-function-notation */
  0%  { box-shadow:  3px 3px 50px 50px rgba(110,231,183,100%), 3px 3px 80px 100px rgba(59,130,246,100%),3px 3px 100px 150px rgba(124,49,207,100%) }
  100% { box-shadow: 3px 3px 300px 1000px black; }
}